<%= form_with(model: dairy, local: true) do |form| %>
  <% if dairy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dairy.errors.count, "error") %> prohibited this dairy from being saved:</h2>

      <ul>
      <% dairy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if action_name == 'new' %>
    <div class="field">
      <%= form.label :date, '日付' %>
      <%= form.text_field :date, class: 'datepicker', value: Date.today %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customs %><br />
    <%= collection_check_boxes(:dairy, :custom_ids, Custom.all, :id, :title) do |b| %>
      <%= b.label { b.check_box + b.text } %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
